{# apps/templates/_macros.html #}
{% macro render_pagination(pagination, endpoint, filtered_args={}) %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {# 이전 페이지 링크 #}
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **filtered_args) if pagination.has_prev else '#' }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        
        {# 페이지 번호 링크 #}
        {% for p in pagination.iter_pages() %}
            {% if p %}
                <li class="page-item {% if p == pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for(endpoint, page=p, **filtered_args) }}">{{ p }}</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
        {% endfor %}
        
        {# 다음 페이지 링크 #}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **filtered_args) if pagination.has_next else '#' }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}